* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 20px;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}

/* Different colors */
#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue{
    background-color: blue;
}

#yellow {
    background-color: orange;
}